spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://211.238.149.26:3306/emm?characterEncoding=UTF-8
    username: root
    password: wso2carbon

  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        show_sql: false
        dialect: org.hibernate.dialect.MySQLDialect
        # default_batch_fetch_size: 1000
    hibernate:
      ddl-auto: none
    database: mysql
    open-in-view: false

decorator:
  datasource:
    p6spy:
      enable-logging: true
      multiline: true
      log-file: p6spy.log
